<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringBootFX-AperProfile" type="Application" factoryName="Application">
    <option name="ALTERNATIVE_JRE_PATH" value="13" />
    <option name="MAIN_CLASS_NAME" value="com.ak.fx.desktop.FxApplication" />
    <module name="SpringBootFX.main" />
    <option name="VM_PARAMETERS" value="-Dspring.profiles.active=aper" />
    <extension name="coverage">
      <pattern>
        <option name="PATTERN" value="com.ak.fx.core.*" />
        <option name="ENABLED" value="true" />
      </pattern>
    </extension>
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>