
# Default ignored files
/shelf/
/sonarlint/
sonarlint-state.xml
/rAvailablePackageCache.xml
/rGraphicsSettings.xml
/rpackages.xml
/rSettings.xml
/workspace.xml
/modules.xml
/csv-plugin.xml
/libraries/*
*.iml